:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    font-size: 0.787rem;
    line-height: 1.8;
    color: var(--very-dark-magenta);
    background-image: 
        url("../images/bg-pattern-top-mobile.svg"),
        url("../images/bg-pattern-bottom-mobile.svg");
    background-position: left top, right bottom;    
    background-repeat: no-repeat;
    background-size: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main > * {
    margin: 0 1.5rem;
    max-width: 35rem;
}

/* Upper-Half Styles */

.upper-half {
    text-align: center;
    margin-top: 5.1rem;
}

.intro-message h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.1rem;
}

.intro-message p {
    font-size: 0.907rem;
    font-weight: 500;
    line-height: 1.6;
    color: var(--dark-grayish-magenta);
    margin-top: 1.5rem;
}

.ratings {
    margin-top: 2.625rem;
}

.ratings > * {
    background-color: var(--light-grayish-magenta);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

.report-guru,
.besttech {
    margin-top: 1rem;
}

.ratings .stars {
    margin: 0.9375rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stars img {
    margin: 0 0.3rem;
}

.ratings h6 {
    font-size: 0.85rem;
    margin-bottom: 0.9375rem;
}

/* Lower-Half Styles */

.lower-half {
    margin-top: 3.0625rem;
    margin-bottom: 6.1875rem;
}

.users > * {
    background-color: var(--very-dark-magenta);
    margin-top: 1rem;
    border-radius: 0.5rem;
    color: var(--white);
    padding: 2.5rem 2rem 2.125rem;
}

.profile {
    display: flex;
    line-height: 1.5;
}

.profile img {
    border-radius: 50%;
    width: 40px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    justify-content: center;
}

.profile-details p:nth-child(1) {
    font-weight: 700;
}

.profile-details p:nth-child(2) {
    color: var(--soft-pink);
}

.quote {
    margin-top: 1.875rem;
}

/* Attribution/Footer Styles  */

.attribution {
    font-size: 0.6875rem;
    text-align: center;
    color: var(--dark-grayish-magenta);
    margin-bottom: 1rem;
}

.attribution a {
    text-decoration: none;
    color: hsl(228, 45%, 44%);
}

/* Media Queries */

@media only screen and (min-width: 26.25em) {
    .ratings > * {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .ratings h6 {
        margin: unset;
        margin-left: 1rem;
        min-width: 20ch;
        text-align: left;
    }
}

@media only screen and (min-width: 48em) {
    body {
        background-image: 
            url("../images/bg-pattern-top-desktop.svg"),
            url("../images/bg-pattern-bottom-desktop.svg");
        background-position: left top, right bottom;
        background-repeat: no-repeat;
        background-size: 50%, 125%;
    }
}

@media only screen and (min-width: 90em) {
    body {
        background-image: 
            url("../images/bg-pattern-top-desktop.svg"),
            url("../images/bg-pattern-bottom-desktop.svg");
        background-position: left top, right bottom;
        background-repeat: no-repeat;
        background-size: 40.5%, 78.5%;
    }

    main > * {
        margin: 0 10.3125rem;
        max-width: 69.375rem;
    }
    
    /* Upper-Half Styles */

    .upper-half {
        display: flex;
        margin-top: 7.875rem;
        text-align: left;
    }

    .intro {
        max-width: 48.47%;
    }

    .intro-message {
        margin-right: 6.25rem;
    }

    .intro-message h1 {
        font-size: 3.05rem;
    }

    .intro-message p {
        margin-top: 1.15rem;
    }

    .ratings {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        margin-left: 3.1rem;
        width: 100%;
    }

    .ratings .stars {
        margin: 1.25rem 0 1.25rem 1.75rem;
    }

    .ratings h6 {
        margin-left: 1.1rem;
        margin-right: 2.8rem;
    }

    .reviews {
        margin-top: 0.926rem;
        align-self: flex-start;
    }

    .besttech {
        align-self: flex-end;
    }

    /* Lower-Half Styles */

    .lower-half {
        margin-top: 4.625rem;
        margin-bottom: 6.25rem;
        height: 270px;
    }

    .users {
        display: flex;
        align-items: center;
        column-gap: 1.7rem;
        height: 100%;
    }

    .users > * {
        margin-top: unset;
    }

    .colton {
        align-self: flex-start;
    }

    .anne {
        align-self: flex-end;
    }

    .colton .quote {
        margin-right: 1.214rem;
    }
}